{{template "base" .}}

{{define "content"}}
<div class="flex-fill mt-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-6">
        <img
          src="/static/images/generals-quarters.png"
          alt="Room image"
          class="img-fluid img-thumbnail"
        />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col text-center">
        <h1>General's Quarters</h1>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="text-center">
          <a href="/make-reservation-gq" class="btn btn-success"
            >Check Availability</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
